<section
  class="container w-full m-auto flex flex-col items-center justify-center p-5"
>
  <slot />
</section>

<style>
  .container {
    min-height: 100vh;
    max-width: 28rem;
    overflow: hidden;
  }
</style>
